@import "base/mixins";
@import "base/variables";
@import "base/animate";



*{
    font-family: "Museo Sans", sans-serif;
}

.container{
    max-width: 950px;
    margin: 0 auto;
}

@import "block/promo";
@import "block/header";
@import "block/buttons";
@import "block/advantage";
@import "block/consultation";
@import "block/form";
@import "block/carousel";
@import "block/catalog";
@import "block/review";
@import "block/footer";
@import "block/module";
@import "block/arrows";

@import "media/media";