.advantage{
    background-color: #f6f6f6;;
    padding: 70px 0 78px 0;
    h2{
        @include title
    }
    &__wrapper{
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
        align-items: top;
        text-align: center;
    }
    &__text{
        margin-top: 38px;
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
    }

    &__subtitle{
        margin-top: 26px;
        width: 240px;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        color: #0d0d0d;
        a{
            text-decoration: underline;
            color: #ff0000;
            text-transform: uppercase;
        }
    }
}