.button{
    background-color: $main-red;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    padding: 9px 19px;
    border: none;
    &:hover{
        box-shadow: 3px 3px 30px $main-red;
    }
    &_main{
            margin-top: 67px;
            width: 300px;
            height: 50px;
            font-size: 16px;
            font-weight: 500;
        }

    &_submit{
        width: 100%;
        height: 55px;
        background-color: #c70101;
        border-radius: 5px;
        font-size: 16px;
    }
    &_mini{
        width: 131px;
        height: 40px;   
        font-size: 14px;          
    }
}