.review{
    padding-bottom: 71px;
    &__title{
        @include title
    }
    &__wrapper{
        display: flex;
        margin-top: 70px;
        align-items: top;
        img{
            margin-right: 62px;
            width: 169px;
            height: 169px;
        }
    }
    &-descr{
        max-width: 655px;
        &__title{
            font-size: 18px;
            font-weight: 700;
            color: #0d0d0d;
        }
        &__subtitle{
            margin-top: 10px;
            font-size: 14px;
            font-weight: 300;
            color: #646464;
        }
        &__description{
            margin-top: 19px;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 300;
            color: #0d0d0d;
        }
    }
}